<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><{$title}>——后台管理系统</title>
<link rel="stylesheet" href="<{$smarty.const.STATIC_ROOT}>css/style.default.css" type="text/css" />
<script type="text/javascript" src="<{$smarty.const.STATIC_ROOT}>/js/jquery-1.10.2.min.js"></script>



<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="<{$smarty.const.STATIC_ROOT}>css/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="<{$smarty.const.STATIC_ROOT}>css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</head>

<body class="loginpage">

    <div class="loginbox">
        <div class="loginboxinner">
            
            <div class="logo">
                <h1><span><{$title}></span>管理系统</h1>
                <p>登录以进行管理</p>
            </div><!--logo-->
            <form id="loginForm" action="signIn" method="post" >
                <div id="showmsg">

                    <div class="notibar msgerror <{if $state eq 0}>hide<{/if}>">
                        <a class="close"></a>
                        <p>
                            
                          <{if $state eq 1 }>
                            <{$meserror}>
                          <{/if}>

                        </p>
                    </div>
                   
                </div>
                <div class="username">
                    <div class="usernameinner">
                        <input type="text" name="username" id="username" />
                    </div>
                </div>
                
                <div class="password">
                    <div class="passwordinner">
                        <input type="password" name="password" id="password" />
                    </div>
                </div>
                
                <button  type="submit" id="loginBtn" >登录</button>
            
            </form>
            
        </div><!--loginboxinner-->
    </div><!--loginbox-->
<script script='text/javascript'>

    var oLgo = {

        checkname:function(){

            var username = $("#username").val();
            if(!username){
                var oMes = $("#showmsg").find('div');
    
                $(oMes[0]).fadeIn("normal");
                var objP = $(oMes[0]).find('p');
                $(objP[0]).html('用户名不能为空');
                return false;
            }
            return true;
        },
        close:function(){
            var oMes = $("#showmsg").find('div');
            $(oMes[0]).fadeOut("normal");
        }
        
    };
    (function(){
        $(document).on('click','.close',function(){
            oLgo.close();
        });
        $(document).on('submit','#loginForm',function(){

            return oLgo.checkname();

        });
    })();
</script>
</body>
</html>