<{include file='../header.html'}>
<script>
function fold(index) {
  	$('#app_'+index).slideToggle('fast');
}
</script>
<div id="container" class="so_main">
    <div class="page_tit">欢迎使用<{$title}></div>
    <div class="form2">
        <h4>提示：点击标题可以折叠栏目</h4>
      <{assign var="id" value="0"}>
        <{foreach from=$statistics item=channel key=key}>
            <{assign var="index" value=$id++}>
         
            <h3 onclick="fold('<{$index}>');"><{$key}></h3>
            <div id="app_<{$index}>">
            <{foreach from=$channel item=vo key=key}>
                <dl><dt><strong><{$key}>：</strong></dt><dd><{$vo}></dd></dl>
		    <{/foreach}>
            </div>
        <{/foreach}>
    </div>
</div>

<{include file='../footer.html'}>