<{include file='../header.html'}>
    <div class="g_main">
        <div class="leftArea">
            <div class="tabBox">
                <ul class="tab_pills">
                    <li class="active"><a href="javascript:;">志愿者报名</a></li>
                </ul>
            </div>
            <div class="g_content">
                <div class="g_volunteer_info">
                    <dl>
                        <dt>志愿者报名须知：</dt>
                        <dd>1.请您详细阅读相关志愿者申请的具体工作细节、注意事项，及报名表内的详细要求等。</dd>
                        <dd>2.请您务必认真填写申请表中的各项资料。</dd>
                        <dd>3.太平公益会仔细审阅您的资料，并会根据需求调配人员。</dd>
                        <dd>4.我们将严格对您的资料进行保密。</dd>
                    </dl>
                </div>
                <div class="g_volunteer">
                    <h3>长期专职教学支教报名</h3>
                    <div class="g_volunteer_cont">
                        <p>为弥补农村小学师资紧缺，尤其英语、音乐、美术、体育、自然科学等学科专业教师紧缺，太平公益一直在为山区小学招募以上专业的长期支教志愿者，支教时间最短为一学年，支教期间太平公益每月给与长期支教志愿者200元生活补贴，活动结束相关学校和太平公益都为志愿者开具志愿服务证书。</p>
                        <p>长期支教志愿者需要有教师资格证。</p>
                        <p>长期执教志愿者需要在校配合学校固有教师教学，按照自身专业特长与学校教师担任科目等多方调整安排所教科目，需要有足够的耐心和爱心，注重合作和倾听。</p>
                        <div class="g_volunteer_btns"><a href="#" class="u_volunteer_btn">下载申请表</a></div>
                    </div>
                </div>
                <div class="g_volunteer">
                    <h3>短期情感教学支教报名</h3>
                    <div class="g_volunteer_cont">
                        <p>由于农村教师自身学历有限，眼界有限，思想观念相对保守持旧，教育责任感和使命感薄弱，直接影响综合教学质量，造成农村学生进入初高中以后与城市学生在课本知识之外的领域拉开了巨大差距。</p>
                        <p>情感教学不以书本知识课后补习的传统支教模式出现，主要从学生的思想、习惯、生活卫生等方面入手，其主要授课内容为：</p>
                        <dl>
                            <dd>1.针对学生：本着“要做好学生，先要做好人”的理念，通过音乐、美术、手工、游戏、故事课等课堂为学生们传递礼仪道德、孝道、互助友爱、合作、兴趣培养、眼界开拓、习惯养成、灾难时自救互救训练等等方面知识，以活跃生动的方式把利于学生健康成长的正能量根植在学生心里。</dd>
                            <dd>2.针对学生家长：让农村家长重拾“知识改变命运”这一真理，教会他们从长远利益出发，重视孩子的教育，从“知识就是第一生产力”角度举实例，让他们看到知识可以为庄稼增产、可以为农产品打开更宽更赚钱的销售渠道等，以直白接地气的实证促使家长岁子女教育的重视，进而保障学生在学习中的后盾动力。</dd>
                            <dd>3.针对学校教师：为教师们带去更新更科学的授课方式，帮其提高教学方面的综合素质，帮助其加深对教育的使命感和责任感，尽力减少“农村教师端着铁饭碗只为工资不谋学生和家乡将来”的不负责情况。</dd>
                        </dl>
                        <div class="g_volunteer_btns"><a href="#" class="u_volunteer_btn">下载申请表</a></div>
                    </div>
                </div>
                <div class="g_volunteer">
                    <h3>物资发放志愿者报名</h3>
                    <div class="g_volunteer_cont">
                        <p>太平公益会定期把募集到的文具、衣物等物资运送到指定学校进行发放，因此需要一批有相对充裕时间的志愿者帮忙把每个物资集中点的物资运送到周边学校帮忙发放并做好记录工作。</p>
                        <div class="g_volunteer_btns"><a href="#" class="u_volunteer_btn">下载申请表</a></div>
                    </div>
                </div>
                <div class="g_volunteer">
                    <h3>信息核实志愿者报名</h3>
                    <div class="g_volunteer_cont">
                        <p>太平公益搭建了全国性的在线助学平台，推行“全民公益”，希望每一位愿意为我国教育事业出自己一份力的有志有责人士一起织起这张爱心大网。</p>
                        <p>太平公益助学平台上会有全国各地农村困难学生和学校自主发布的求助信息，为保证所有信息的真实性和准确性，保证每一笔捐款落实到真正有需要的困难群众手里解决其困难，也为太平公益执行团队省去人员、经费、时间等开支，把精力集中在更重要的工作上，太平公益需要在全国范围内招募尽可能多的涵盖每一个县市乡镇的志愿者帮忙核实每一份求助信息，当然，为保证每一份所核实的信息的真实性，我们需要每一位核实信息的志愿者提供真实的身份信息，为你所核实的信息负责，为捐款人负责，所核实的求助信息需要核实人签名保证其真实性，如有信息造假涉及骗捐等恶劣行为，经太平公益求助复查组查实，其相关信息核实人需要联合受助人一起赔付受助人所受全部捐款10倍金额，所赔付款项除支付太平公益在本条资助活动中的行政支出等款项外全部余额将返还给捐款人。</p>
                        <p>每一位信息核实志愿者需提供手持身份证拍摄的清晰照片，为保证每一位志愿者的信息安全，所有志愿者的重要信息均不在网上保存，一律由太平公益线下保存，太平公益对所有志愿者的信息安全负责，一旦信息泄漏为志愿者带来任何损失，太平公益均愿意承担法律责任并赔付相关损失。</p>
                        <div class="g_volunteer_btns"><a href="#" class="u_volunteer_btn">下载申请表</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightArea">
            <div class="tabBox">
                <ul class="tab_pills">
                    <li class="active"><a href="#">最新捐款事件</a></li>
                </ul>
            </div>
            <div class="eventList">
                <dl class="eventList_cont">
                    <dt><a href="#"><img src="images/1.jpg" alt=""></a></dt>
                    <dd>
                        <h3><a href="#">测试标题文字啊啊啊</a></h3>
                        <p>测试内容啊啊啊啊打发爱上对方爱上对方阿斯顿发爱上对方</p>
                        <div class="eventList_sta">
                            <span>本月<em>12311</em>人支持</span><a href="#">捐款</a>
                        </div>
                    </dd>
                </dl>
                <dl class="eventList_cont">
                    <dt><a href="#"><img src="images/1.jpg" alt=""></a></dt>
                    <dd>
                        <h3><a href="#">测试标题文字啊啊啊</a></h3>
                        <p>测试内容啊啊啊啊打发爱上对方爱上对方阿斯顿发爱上对方</p>
                        <div class="eventList_sta">
                            <span>本月<em>12311</em>人支持</span><a href="#">捐款</a>
                        </div>
                    </dd>
                </dl>
                <dl class="eventList_cont">
                    <dt><a href="#"><img src="images/1.jpg" alt=""></a></dt>
                    <dd>
                        <h3><a href="#">测试标题文字啊啊啊</a></h3>
                        <p>测试内容啊啊啊啊打发爱上对方爱上对方阿斯顿发爱上对方</p>
                        <div class="eventList_sta">
                            <span>本月<em>12311</em>人支持</span><a href="#">捐款</a>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="g_main">
        <div class="tabBox">
            <ul class="tab_pills">
                <li class="active"><a href="#">特别感谢</a></li>
                <li><a href="#">公益合作伙伴</a></li>
                <li><a href="#">友情链接</a></li>
            </ul>
        </div>
        <div class="thankBox">
            <div class="thank_item">
                <ul class="thank_list">
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                </ul>
            </div>
            <div class="thank_item hide">
                <ul class="thank_list">
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                </ul>
            </div>
            <div class="thank_item hide">
                <ul class="thank_link">
                    <li><a href="#">百度</a></li>
                    <li><a href="#">百度</a></li>
                    <li><a href="#">百度</a></li>
                    <li><a href="#">百度</a></li>
                </ul>
            </div>
        </div>
    </div>
<{include file='../footer.html'}>