<{include file='../header.html'}>
    <div class="g_main suggestions">
        <div class="leftArea">
            <div class="tabBox">
                <ul class="tab_pills">
                    <li class="active"><a href="javascript:;">意见建议</a></li>
                </ul>
            </div>
            <ul class="g_mess">
                <li>
                    <div class="g_mess_leave">
                        <div class="g_user_time">
                            <h3>用户名</h3>
                            <span>2014-08-05 11:21:00</span>
                        </div>
                        <p>留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容</p>
                    </div>
                    <div class="g_mess_reply">
                        <div class="g_user_time">
                            <h3>太平公益的回复</h3>
                            <span>2014-08-05 14:21:33</span>
                        </div>
                        <p>您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关</p>
                    </div>
                </li>
                <li>
                    <div class="g_mess_leave">
                        <div class="g_user_time">
                            <h3>用户名</h3>
                            <span>2014-08-05 11:21:00</span>
                        </div>
                        <p>留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容留言内容</p>
                    </div>
                    <div class="g_mess_reply">
                        <div class="g_user_time">
                            <h3>太平公益的回复</h3>
                            <span>2014-08-05 14:21:33</span>
                        </div>
                        <p>您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关您好，感谢您对我们的关</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="rightArea">
           	<div class="tabBox">
                <ul class="tab_pills">
                    <li class="active"><a href="javascript:;">发表留言</a></li>
                </ul>
            </div>
            <div class="publish_box">
            	<ul class="publish_info">
            		<li><label class="publish_name" for="mess_title">标题：</label><div class="publist_inputs"><input type="text" placeholder="请输入标题" id="mess_title" class=""><span>请输入标题</span></div></li>
					<li><label for="publish_textarea">内容：</label><div class="publist_textarea"><textarea id="publish_textarea" placeholder="请输入内容" type="text" class=""></textarea><span>输入内容</span></div></li>
            		<li><input type="button" value="发表留言" class="publish_btn"></li>
            	</ul>
            </div>
        </div>
    </div>
    <div class="g_main">
        <div class="tabBox">
            <ul class="tab_pills">
                <li class="active"><a href="#">特别感谢</a></li>
                <li><a href="#">公益合作伙伴</a></li>
                <li><a href="#">友情链接</a></li>
            </ul>
        </div>
        <div class="thankBox">
            <div class="thank_item">
                <ul class="thank_list">
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                </ul>
            </div>
            <div class="thank_item hide">
                <ul class="thank_list">
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                </ul>
            </div>
            <div class="thank_item hide">
                <ul class="thank_link">
                    <li><a href="#">百度</a></li>
                    <li><a href="#">百度</a></li>
                    <li><a href="#">百度</a></li>
                    <li><a href="#">百度</a></li>
                </ul>
            </div>
        </div>
    </div>
<{include file='../footer.html'}>