
    <div class="footer">
        <div class="footer_cont">
            <div class="footer_contLeft">
                <{foreach from=$menu.bottomMenu item=bootMenu key=bootKey name=bootmu}>

                    <{if isset($bootMenu.islink)}>
                        <{if $bootMenu.islink eq 0}>
                            <a href="/<{$bootMenu.aenname}>/<{$bootMenu.defaultname}>"><{$bootMenu.aname}></a>
                            <{if $menu.bottomCount neq $bootKey}>
                                <span>|</span>
                            <{/if}>
                        <{else}>
                            <a href="<{$bootMenu.link}>"><{$bootMenu.aname}></a>
                            <{if $menu.bottomCount neq $bootKey}>
                                <span>|</span>
                            <{/if}>

                        <{/if}>
                    <{/if}>
                    
                <{/foreach}>
                <p>Copyright © 2000-2014 TaiPingGongYi Corporation, All Rights Reserved</p>
            </div>
        </div>
    </div>
    <div class="backTop"></div>
    <div class="shadow hide"></div>
    <div class="winBox hide">
        <div class="win_title">
            <h3>登陆</h3>
            <a href="javascript:;" class="winClose" title="关闭"></a>
        </div>
        <div class="winCont">
            <ul class="login_list">
                <li><label for="l1">用户名</label><input type="text" id="l1" class="g-input"></li>
                <li><label for="l2">密码</label><input type="text" id="l2"  class="g-input"><span class="forget_pass"><a href="#">忘记密码?</a></span></li>
                <li><label>&nbsp;</label><span class="userToReg">还没有账号？<a href="#">我要注册</a></span></li>
                <li class="g-sm-btn"><input type="submit" value="注 册" class="btn-y"><input type="button" value="取 消" class="btn-n"></li>
            </ul>
        </div>
    </div>
</body>
</html>