<{include file='../header.html'}>
    <div class="g_main">
        <div class="leftArea">
            <div class="tabBox">
                <ul class="tab_pills">
                    <li class="active"><a href="javascript:;">透明监督</a></li>
                </ul>
            </div>
            <div class="g_content">
                <div class="g_volunteer_info">
                    <dl>
                        <dt>太平公益接受社会各界的监督，我们会不定期公布捐款数额及款项适用情况。后期我们会更新款项适用情况，数据将在此页面进行展示。<br>如果您对数据有疑问，可以在此回复，我们会尽快对您的疑问做出解答。</dt>
                    </dl>
                </div>
            </div>
        </div>
        <div class="rightArea">
            <div class="tabBox">
                <ul class="tab_pills">
                    <li class="active"><a href="#">最新捐款事件</a></li>
                </ul>
            </div>
            <div class="eventList">
                <dl class="eventList_cont">
                    <dt><a href="#"><img src="images/1.jpg" alt=""></a></dt>
                    <dd>
                        <h3><a href="#">测试标题文字啊啊啊</a></h3>
                        <p>测试内容啊啊啊啊打发爱上对方爱上对方阿斯顿发爱上对方</p>
                        <div class="eventList_sta">
                            <span>本月<em>12311</em>人支持</span><a href="#">捐款</a>
                        </div>
                    </dd>
                </dl>
                <dl class="eventList_cont">
                    <dt><a href="#"><img src="images/1.jpg" alt=""></a></dt>
                    <dd>
                        <h3><a href="#">测试标题文字啊啊啊</a></h3>
                        <p>测试内容啊啊啊啊打发爱上对方爱上对方阿斯顿发爱上对方</p>
                        <div class="eventList_sta">
                            <span>本月<em>12311</em>人支持</span><a href="#">捐款</a>
                        </div>
                    </dd>
                </dl>
                <dl class="eventList_cont">
                    <dt><a href="#"><img src="images/1.jpg" alt=""></a></dt>
                    <dd>
                        <h3><a href="#">测试标题文字啊啊啊</a></h3>
                        <p>测试内容啊啊啊啊打发爱上对方爱上对方阿斯顿发爱上对方</p>
                        <div class="eventList_sta">
                            <span>本月<em>12311</em>人支持</span><a href="#">捐款</a>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="g_main">
        <div class="tabBox">
            <ul class="tab_pills">
                <li class="active"><a href="#">特别感谢</a></li>
                <li><a href="#">公益合作伙伴</a></li>
                <li><a href="#">友情链接</a></li>
            </ul>
        </div>
        <div class="thankBox">
            <div class="thank_item">
                <ul class="thank_list">
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                </ul>
            </div>
            <div class="thank_item hide">
                <ul class="thank_list">
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                    <li><span></span><img src="#" alt=""><a href="#"></a></li>
                </ul>
            </div>
            <div class="thank_item hide">
                <ul class="thank_link">
                    <li><a href="#">百度</a></li>
                    <li><a href="#">百度</a></li>
                    <li><a href="#">百度</a></li>
                    <li><a href="#">百度</a></li>
                </ul>
            </div>
        </div>
    </div>
<{include file='../footer.html'}>