@charset "UTF-8";
.header_cont, .g_logo, .nav, .g_main {
  margin-left: auto;
  margin-right: auto;
}

.header h3 {
  float: left;
  *display: inline;
}

.header_cont, .g_logo, .g_main, .turnList_item .turnList_text, .eventList_sta, .thank_list, .thank_link, .footer_cont, .login_list li, .piproject, .video_photo, .photo, .video, .g_user_time, .publish_info li, .select_class, .release_content li {
  *zoom: 1;
}
.header_cont:before, .g_logo:before, .g_main:before, .turnList_item .turnList_text:before, .eventList_sta:before, .thank_list:before, .thank_link:before, .footer_cont:before, .login_list li:before, .piproject:before, .video_photo:before, .photo:before, .video:before, .g_user_time:before, .publish_info li:before, .select_class:before, .release_content li:before, .header_cont:after, .g_logo:after, .g_main:after, .turnList_item .turnList_text:after, .eventList_sta:after, .thank_list:after, .thank_link:after, .footer_cont:after, .login_list li:after, .piproject:after, .video_photo:after, .photo:after, .video:after, .g_user_time:after, .publish_info li:after, .select_class:after, .release_content li:after {
  content: "";
  display: table;
}
.header_cont:after, .g_logo:after, .g_main:after, .turnList_item .turnList_text:after, .eventList_sta:after, .thank_list:after, .thank_link:after, .footer_cont:after, .login_list li:after, .piproject:after, .video_photo:after, .photo:after, .video:after, .g_user_time:after, .publish_info li:after, .select_class:after, .release_content li:after {
  clear: both;
}

.header_cont, .g_logo, .nav, .g_main {
  margin-left: auto;
  margin-right: auto;
}

.header h3 {
  float: left;
  display: inline;
}

.header_cont, .g_logo, .g_main, .turnList_item .turnList_text, .eventList_sta, .thank_list, .thank_link, .footer_cont, .login_list li, .piproject, .video_photo, .photo, .video, .g_user_time, .publish_info li, .select_class, .release_content li {
  *zoom: 1;
}
.header_cont:before, .g_logo:before, .g_main:before, .turnList_item .turnList_text:before, .eventList_sta:before, .thank_list:before, .thank_link:before, .footer_cont:before, .login_list li:before, .piproject:before, .video_photo:before, .photo:before, .video:before, .g_user_time:before, .publish_info li:before, .select_class:before, .release_content li:before, .header_cont:after, .g_logo:after, .g_main:after, .turnList_item .turnList_text:after, .eventList_sta:after, .thank_list:after, .thank_link:after, .footer_cont:after, .login_list li:after, .piproject:after, .video_photo:after, .photo:after, .video:after, .g_user_time:after, .publish_info li:after, .select_class:after, .release_content li:after {
  content: "";
  display: table;
}
.header_cont:after, .g_logo:after, .g_main:after, .turnList_item .turnList_text:after, .eventList_sta:after, .thank_list:after, .thank_link:after, .footer_cont:after, .login_list li:after, .piproject:after, .video_photo:after, .photo:after, .video:after, .g_user_time:after, .publish_info li:after, .select_class:after, .release_content li:after {
  clear: both;
}

.tpgy_dynamic li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

img {
  border: none;
}

input, select, textarea {
  outline: none;
  border: none;
  background: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: #0088cc;
}

a:hover {
  color: #006699;
}

em, i {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

body {
  line-height: 1.5;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  background-color: white;
}

body {
  _background-image: url(busy);
  _background-attachment: fixed;
}

body {
  font-family: "Microsoft Yahei", "微软雅黑";
  min-width: 1000px;
}

.header_cont, .g_logo, .nav, .g_main {
  width: 1000px;
}

.header {
  height: 30px;
  background-color: #dfdfdf;
}
.header_cont {
  font: 12px/30px "Microsoft Yahei", "微软雅黑";
}
.header h3 {
  font-weight: normal;
}
.login_reg {
  float: right;
  display: inline;
}
.login_reg span {
  padding: 0 10px;
}
.login_reg a {
  color: black;
}
.login_reg a:hover {
  color: #2a9bfb;
}

.g_logo {
  padding: 20px 0;
}

.logo {
  width: 80px;
  height: 80px;
  background: url(../images/logo.png) center center no-repeat;
  float: left;
}
.logo a {
  display: block;
  height: 100%;
  text-indent: -999em;
}

.g_nav {
  background-color: #2a9bfb;
}
.nav {
  font: 14px/40px "Microsoft Yahei", "微软雅黑";
  height: 40px;
  position: relative;
  z-index: 1;
  border-left: solid 1px #005ead;
}
.nav li {
  float: left;
  display: inline;
  position: relative;
  border-right: solid 1px #005ead;
  margin-left: -1px;
}
.nav .nav_dropdown {
  position: absolute;
  left: 0;
  top: 40px;
  padding-top: 10px;
  white-space: nowrap;
}
.nav .nav_dropdown dl {
  background-color: #2a9bfb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
.triangle {
  position: absolute;
  left: 25px;
  top: -2px;
  border-width: 6px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #2a9bfb transparent;
  width: 0;
  height: 0;
  overflow: hidden;
}
.nav .nav_dropdown a {
  display: block;
}
.nav a {
  color: #FFF;
  display: inline-block;
  padding: 0 20px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.nav a .trian {
  display: block;
  position: absolute;
  right: 10px;
  top: 19px;
  border-width: 4px;
  border-style: solid dashed dashed dashed;
  border-color: #eef0f5 transparent transparent transparent;
  width: 0;
  height: 0;
  overflow: hidden;
}
.nav .dropLink {
  padding: 0 25px 0 15px;
}
.nav a:hover, .nav .active {
  background-color: #005ead;
}

.g_main {
  padding-top: 20px;
}

.leftArea {
  width: 645px;
  float: left;
  display: inline;
}

.rightArea {
  width: 320px;
  float: right;
  display: inline;
}

.banner {
  width: 645px;
  height: 320px;
  position: relative;
  overflow: hidden;
}
.banner_img {
  position: absolute;
  left: 0;
  top: 0;
}
.banner_img li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.banner_img .active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.banner_img img {
  width: 645px;
  height: 320px;
}
.banner .prev,
.banner .next {
  width: 38px;
  height: 38px;
  position: absolute;
  top: 50%;
  margin-top: -19px;
  z-index: 1;
  background-repeat: no-repeat;
  background-image: url(../images/banner_tab.png);
}
.banner .u-bg {
  background-color: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}
.banner .u-bg, .banner .number {
  height: 30px;
  line-height: 30px;
  color: #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.banner .number_text {
  padding-left: 10px;
  float: left;
}
.banner .number_text h3 {
  display: none;
  height: 30px;
  line-height: 30px;
}
.banner .number_text .active {
  display: block;
}
.banner .number_now {
  float: right;
  font-size: 0;
  padding: 3px 10px 3px 0;
  height: 24px;
}
.banner .number_now a {
  display: inline-block;
  font-size: 14px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #FFF;
}
.banner .number_now .active {
  background-color: #2a9bfb;
}
.banner .prev {
  left: 20px;
  background-position: 0 0;
}
.banner .next {
  right: 20px;
  background-position: -46px 0;
}

.backTop {
  width: 38px;
  height: 38px;
  background: url(../images/top.gif) left top no-repeat;
  position: fixed;
  right: 30px;
  bottom: 50px;
  cursor: pointer;
  _position: absolute;
  _top: expression(document.documentElement.scrollTop + Math.round(document.documentElement.offsetHeight - 50 * 2) + "px");
}

.tabBox {
  height: 26px;
  border-bottom: solid 2px #BBB7B7;
}
.tabBox .tab_pills {
  height: 26px;
  float: left;
}
.tabBox .tab_pills li {
  float: left;
  margin-right: 10px;
}
.tabBox .tab_pills .active {
  border-bottom: solid 2px #2a9bfb;
  margin-bottom: -2px;
  position: relative;
}
.tabBox .tab_pills .active a:hover {
  color: black;
}
.tabBox .tab_pills a {
  display: inline-block;
  height: 26px;
  float: left;
  line-height: 1;
  color: black;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.tabBox .tab_pills a:hover {
  color: #2a9bfb;
}
.tabBox .tabMore {
  float: right;
  font-size: 12px;
  line-height: 22px;
}

.tpgy_sponsor {
  padding: 5px 0;
}

.sponsor_list {
  background-position: left center;
  background-repeat: no-repeat;
  margin-bottom: 5px;
}
.sponsor_list dd {
  padding-left: 118px;
  font-size: 12px;
}

.sponsor_more {
  padding: 5px 0;
}

.icbc {
  background-image: url(../images/bank/icbc.jpg);
}

.ccb {
  background-image: url(../images/bank/ccb.jpg);
}

.tpgy_dynamic {
  padding: 10px 0;
  height: 272px;
}
.tpgy_dynamic li {
  line-height: 26px;
  height: 26px;
  vertical-align: top;
  width: 100%;
}
.tpgy_dynamic a {
  color: black;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.tpgy_dynamic a:hover {
  color: #2a9bfb;
}

.turnList_item {
  padding: 15px 0 20px 0;
  border-bottom: solid 1px #ccc;
}
.turnList_item h3 {
  font: 22px/32px "Microsoft Yahei", "微软雅黑";
  margin-bottom: 15px;
}
.turnList_item h3 a {
  color: black;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.turnList_item h3 a:hover {
  color: #2a9bfb;
}
.turnList_item .turnList_text .turnList_img {
  float: left;
  width: 200px;
  height: 130px;
  position: relative;
}
.turnList_item .turnList_text img {
  width: 198px;
  height: 128px;
  vertical-align: top;
  border: solid 1px #ccc;
}
.turnList_item .turnList_text p {
  padding-left: 215px;
}

.eventList {
  padding: 15px 0;
}
.eventList_cont {
  height: 90px;
  margin-bottom: 26px;
}
.eventList_cont dt {
  width: 120px;
  height: 90px;
  float: left;
}
.eventList_cont dt img {
  width: 118px;
  height: 88px;
  border: solid 1px #ccc;
  vertical-align: top;
}
.eventList_cont dd {
  padding-left: 130px;
}
.eventList_cont h3 {
  line-height: 1;
  padding-top: 1px\9;
  font-weight: bold;
  margin-bottom: 5px;
}
.eventList_cont h3 a {
  color: black;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.eventList_cont h3 a:hover {
  color: #2a9bfb;
}
.eventList_cont p {
  font: 12px/1.5 "宋体";
  height: 50px;
}
.eventList_sta {
  font-size: 12px;
  height: 20px;
}
.eventList_sta span {
  line-height: 20px;
  height: 20px;
  float: left;
}
.eventList_sta span em {
  color: #2a9bfb;
  font-weight: bold;
}
.eventList_sta a {
  float: right;
  width: 50px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #2a9bfb;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.eventList_sta a:hover {
  background-color: #0c7ddd;
}

.thankBox {
  padding: 15px 0;
}

.thank_list li {
  width: 108px;
  height: 58px;
  float: left;
  margin-right: 10px;
  border: solid 1px #ccc;
  text-align: center;
  position: relative;
  margin-bottom: 8px;
}
.thank_list li span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.thank_list li img {
  vertical-align: middle;
}
.thank_list li a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.thank_link li {
  float: left;
  margin-right: 10px;
}
.thank_link a {
  color: black;
}
.thank_link a:hover {
  color: #2a9bfb;
}

.footer {
  background-color: #1b253b;
  line-height: 24px;
}
.footer_cont {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  color: #b2bdd3;
}
.footer_contLeft {
  width: 700px;
  float: left;
}
.footer a {
  color: #b2bdd3;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.footer a:hover {
  color: #2a9bfb;
}
.footer span {
  padding: 0 5px;
}
.footer p {
  font-family: Verdana;
}

.shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  _position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: .5;
  filter: alpha(opacity=50);
  z-index: 2;
}

.winBox {
  width: 700px;
  height: 400px;
  position: fixed;
  _position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -200px;
  z-index: 3;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
.win_title {
  height: 40px;
  line-height: 40px;
  background-color: #ECEEF1;
  padding: 0 20px;
}
.win_title h3 {
  font: 14px/40px "Microsoft Yahei", "微软雅黑";
  float: left;
}
.win_title .winClose {
  width: 17px;
  height: 17px;
  float: right;
  margin-top: 11.5px;
  background: url(../images/close.png) left top no-repeat;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.win_title .winClose:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.winCont {
  height: 360px;
}

.login_list {
  margin: 0 50px;
  padding-top: 40px;
}
.login_list li {
  margin-bottom: 30px;
}
.login_list label {
  width: 130px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  float: left;
  text-align: right;
}
.g-input {
  height: 38px;
  line-height: 38px\9;
  border: solid 1px #dfdfdf;
  width: 290px;
  padding: 0 6px;
  float: left;
}
.login_list .forget_pass {
  float: left;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
}
.login_list .forget_pass a:hover {
  color: #2a9bfb;
}
.g-sm-btn {
  text-align: center;
}
.g-sm-btn input {
  height: 30px;
  padding: 0 20px;
  font-family: "Microsoft Yahei", "微软雅黑";
  color: #FFF;
  margin: 0 10px;
}
.g-sm-btn .btn-y {
  background-color: #2a9bfb;
}
.g-sm-btn .btn-y:hover {
  background-color: #1687e7;
}
.g-sm-btn .btn-n {
  background-color: #c1c1c1;
}
.g-sm-btn .btn-n:hover {
  background-color: #b7b7b7;
}

.about {
  margin-bottom: 30px;
}
.about .leftArea {
  float: right;
  width: 740px;
}
.about .rightArea {
  float: left;
  width: 230px;
}

.about_nav {
  padding: 1em 0;
  line-height: 1.5em;
}
.about_nav a {
  color: black;
}
.about_nav a:hover {
  color: #2a9bfb;
}
.about_nav .active {
  color: #2a9bfb;
  font-weight: bold;
}

.about_cont {
  padding: 10px 20px;
  border: solid 1px #dfdfdf;
}
.about_cont h3 {
  text-align: center;
  border-bottom: solid 1px #dfdfdf;
  padding-bottom: .8em;
  font-weight: normal;
}
.about_text {
  padding: 1em 0;
}
.about_text h4 {
  line-height: 2;
}
.about_text p {
  line-height: 2em;
}
.recently_activities {
  line-height: 2em;
}

.piproject {
  height: 2em;
  line-height: 2em;
  margin-top: 0.5em;
}
.piproject li {
  float: left;
  padding: 0 10px;
  cursor: default;
}
.piproject .active {
  background-color: #dfdfdf;
}

.piproject_content {
  padding: 1em 10px;
  border: solid 1px #ccc;
  background-color: #f7f7f7;
}
.bg_gray {
  padding: 0 3px;
  background-color: #dfdfdf;
}
.bg_yellow {
  background-color: yellow;
}
.piproject_content p {
  text-indent: 2em;
  margin: 10px 0;
}

.donation {
  padding: .5em 0;
}

.g_table {
  border-collapse: collapse;
  width: 100%;
}
.g_table thead {
  background-color: #f3f3f3;
  text-align: left;
}
.g_table th {
  font-weight: normal;
}
.g_table td, .g_table th {
  border: solid 1px #dfdfdf;
  padding: 5px;
}
.g_table img {
  width: 108px;
  height: 28px;
  vertical-align: top;
}

.photo {
  margin-right: -4px;
  margin-bottom: 2px;
}
.photo_left {
  width: 314px;
  height: 240px;
  float: left;
  margin-right: 2px;
}
.photo_right {
  width: 332px;
  height: 242px;
  float: left;
}
.photo_right .g_item {
  margin-right: 2px;
  margin-bottom: 2px;
}
.g_item {
  position: relative;
}
.g_item a {
  width: 100%;
  height: 100%;
  zoom: 1;
  position: absolute;
  left: 0;
  top: 0;
}
.g_item a:hover span {
  display: block;
}
.g_item img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}
.g_item .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.g_item .play {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -24px;
  margin-top: -24px;
  background: url(../images/play.png) center center no-repeat;
  display: none;
}
.g_big {
  width: 314px;
  height: 242px;
}
.g_sm {
  width: 164px;
  height: 120px;
  float: left;
}

.video {
  margin-right: -22px;
}
.video .g_item {
  width: 200px;
  height: 108px;
  float: left;
  display: inline;
  margin-right: 22px;
  margin-bottom: 22px;
}

.g_content {
  padding: 20px 0;
}

.g_volunteer {
  border: solid 1px #cccccc;
  margin-bottom: 1em;
}
.g_volunteer h3 {
  font-size: 14px;
  font-weight: normal;
  height: 2.6em;
  line-height: 2.6;
  padding: 0 1em;
  background-color: #E2E2E2;
  border-bottom: solid 1px #cccccc;
}
.g_volunteer_cont {
  padding: .7em 1em;
  line-height: 1.8;
}
.g_volunteer_cont p, .g_volunteer_cont dd {
  text-indent: 2em;
}
.g_volunteer_btns {
  padding-top: .6em;
}
.g_volunteer_info {
  font-size: 14px;
  line-height: 1.8;
  padding-bottom: 1em;
}
.g_volunteer_info dd {
  padding-left: 1em;
}
.u_volunteer_btn {
  display: inline-block;
  background-color: #2a9bfb;
  color: #FFF;
  height: 2.5em;
  line-height: 2.5em;
  font-size: 14px;
  padding: 0 2em;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.u_volunteer_btn:hover {
  color: #FFF;
  background-color: #1687e7;
}

.g_superv {
  height: 400px;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}

.suggestions .leftArea {
  width: 715px;
}
.suggestions .rightArea {
  width: 265px;
}

.g_mess {
  padding: 20px 0;
}
.g_mess li {
  background-color: #F7F7F7;
  padding: 10px 15px;
  border-bottom: solid 1px #ccc;
}
.g_user_time {
  line-height: 2em;
}
.g_user_time h3 {
  float: left;
}
.g_user_time span {
  float: right;
  font-size: 12px;
}
.g_mess_leave {
  margin-bottom: 10px;
}
.g_mess_reply {
  position: relative;
  margin-left: 20px;
  background-color: #E6E6E6;
  padding: 4px 14px;
}
.publish_info {
  padding-top: 10px;
}
.publish_info li {
  margin-bottom: 10px;
}

.publish_name {
  width: ４0px;
  float: left;
  line-height: 28px;
}

.publist_inputs {
  width: 200px;
  padding: 0 5px;
  float: right;
  border: solid 1px #ccc;
  height: 26px;
}
.publist_inputs input {
  width: 100%;
  display: block;
  height: 26px;
  line-height: 26px\9;
  margin-bottom: -26px;
  position: relative;
}
.publist_inputs span {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  display: none;
}

.publist_textarea {
  width: 200px;
  padding: 0 5px;
  float: right;
  border: solid 1px #ccc;
  position: relative;
  height: 80px;
}
.publist_textarea textarea {
  width: 100%;
  display: block;
  height: 80px;
  line-height: 20px;
  position: relative;
}
.publist_textarea span {
  position: absolute;
  left: 5px;
  top: 0;
  line-height: 26px;
  height: 26px;
  display: none;
}

.publish_btn {
  width: 100%;
  height: 2.5em;
  font-size: 16px;
  font-family: "Microsoft Yahei", "微软雅黑";
  color: #FFF;
  background-color: #2a9bfb;
}

.select_title {
  line-height: 3;
}

.select_class li {
  width: 32%;
  margin-right: 2%;
  float: left;
  height: 90px;
}
.select_class li a {
  height: 90px;
  background-color: #D7D7D7;
  display: block;
  text-align: center;
  color: #000;
  position: relative;
}
.select_class li span {
  vertical-align: middle;
  display: inline-block;
}
.select_class li em {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.select_class li i {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  padding: 0 5px;
  background-color: #44BF44;
  color: #FFF;
  display: none;
}
.select_class li a:hover,
.select_class li .active {
  background-color: #6CBBFF;
  color: #FFF;
}
.select_class li .active i {
  display: block;
}
.select_class .select_last {
  margin-right: 0;
}

.release_info {
  padding: .5em 0;
}

.release_content {
  padding: .5em 0;
}
.release_content li {
  margin-bottom: 14px;
}
.release_content li p {
  line-height: 28px;
  font-size: 12px;
  float: left;
}

.release_name {
  float: left;
  padding-right: 10px;
  height: 28px;
  line-height: 28px;
  width: 140px;
  text-align: right;
}

.release_inputs {
  height: 26px;
  border: solid 1px #ccc;
  padding: 0 .5em;
  width: 200px;
  float: left;
  margin-right: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.release_inputs input {
  width: 100%;
  display: block;
  float: left;
  height: 26px;
  line-height: 26px\9;
  font-family: "Microsoft Yahei", "微软雅黑";
}

.w_auto {
  width: auto;
}

.release_sex {
  float: left;
  margin-right: 20px;
}
.release_sex label, .release_sex input {
  vertical-align: middle;
  margin-right: 5px;
}
.release_sex label {
  margin-right: 10px;
}

.rel_select {
  width: 216px;
  height: 26px;
  line-height: 26px;
  border: solid 1px #ccc;
  font-family: "Microsoft Yahei", "微软雅黑";
  float: left;
  margin-right: 20px;
}

.release_btns {
  text-align: center;
}
.release_btns input {
  height: 2em;
  line-height: 2em;
  padding: 0 2em;
  font-family: "Microsoft Yahei", "微软雅黑";
  background-color: #6CBBFF;
  color: #FFF;
  font-family: 1.5em;
}
.release_btns input:hover {
  background-color: #58a7eb;
}

.release_auto .release_name {
  float: none;
  display: block;
  width: auto;
  text-align: left;
}
.release_auto .release_inputs {
  width: 80px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #6CBBFF;
  text-align: center;
  color: #FFF;
  border-color: #58a7eb;
  position: relative;
  line-height: 26px;
}
.release_auto .release_inputs input {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  opacity: 0.01;
  filter: alpha(opacity=1);
}

.release_area {
  padding: .5em 0;
}
.release_area h3 {
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 10px;
}
.relTextArea {
  border: solid 1px #ccc;
  padding: 0 5px;
}
.relTextArea textarea {
  height: 400px;
  width: 100%;
  font-family: "Microsoft Yahei", "微软雅黑";
  line-height: 24px;
}

.release_main {
  background-color: #F6F6F6;
  border: solid 1px #ccc;
  padding: 10px 20px;
}
.release_main h2 {
  margin-bottom: .5em;
}
.rel_info {
  line-height: 2;
}
.rel_info span {
  margin-right: 40px;
}

.release_info_main p {
  text-indent: 2em;
  margin-bottom: 1em;
}

.release_info_pic h3 {
  margin-bottom: .5em;
}
.release_info_pic p {
  margin-bottom: 1em;
}
.release_info_pic img {
  max-width: 100%;
  width: auto\9;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hr_20 {
  height: 20px;
}

.hr_10 {
  height: 10px;
  overflow: hidden;
}

.ofh {
  overflow: hidden;
}

.ml-1 {
  margin-left: -1px;
}
