<{include file='../header.html'}>
<div class="so_main">
  <div class="page_tit"><{if isset($type) and $type eq 'edit'}>编辑用户<{else}>添加用户<{/if}></div>
  <form method="post" action="<{if isset($action) and $action}><{$action}><{/if}>">
  <div class="form2">
    <dl class="lineD">
      <dt>用户组名：</dt>
      <dd>
        <input name="title" id="title" type="text" value="<{if isset($title)}><{$title}><{/if}>"><span>*</span>
        <p>用户组中文名</p>
    </dl>
	
    <dl class="lineD">
      <dt>用户组英文名：</dt>
      <dd>
         <input name="entitle" id="entitle" type="text" value="<{if isset($entitle)}><{$entitle}><{/if}>"><span>*</span>
        <p>用户组英文名</p>
    </dl>

    <dl class="lineD">
      <dt>所属角色：</dt>
      <dd>
        <{if isset($role) and $role}>
          <{foreach from=$role item=vo key=key}>
            <label><input name="rid[]" type="checkbox" value="<{$vo.rid}>" <{if isset($vo['active']) and $vo['active']}>checked<{/if}>><{$vo.title}></label>
        
          <{/foreach}>
        <{/if}>
         <p>所属角色：</p>
    </dl>

  	<dl class="lineD">
        <dt>用户状态：</dt>
        <dd>
          <label><input name="state" type="radio" value="-1" <{if !isset($state) or $state eq -1 or !$state}>checked<{/if}>>未通过</label>
          <label><input name="state" type="radio" value="0" <{if isset($state) and $state eq 0}>checked<{/if}>>正常</label>
          <label><input name="state" type="radio" value="1" <{if isset($state) and $state eq 1}>checked<{/if}>>待审核</label>
          <label><input name="state" type="radio" value="2" <{if isset($state) and $state eq 2}>checked<{/if}>>草稿箱</label>
      </dl>
	 
	 <!-- <dl>
      <dt>用户组：</dt>
      <dd>
        <php>if($type=='add'){</php>
        {:W('SelectUserGroup')}
        <php>}else {</php>
        {:W('SelectUserGroup', array('uid'=>$uid))}
        <php>}</php>
      </dd>
    </dl> -->
	
    <div class="page_btm">
      <input type='hidden' name='gid' value='<{if isset($gid)}><{$gid}><{/if}>'>
      <input type="submit" class="btn_b" value="确定" />
    </div>
  </div>
  </form>
</div>
<{include file='../footer.html'}>